<!-- Estendemos do template base -->
{% extends "web/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Profile{% endblock %}

<!-- Bloco de conteúdo da nossa página -->    
{% block conteudo %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        {{ profile_form.as_table }}
        </table>
        <button type="submit">Atualizar</button>
    </form>
    <br>
</div>
{% endblock %}